In [1]:
import pandas as pd
import numpy as np

In [8]:
q1_a = np.arange(1, 11)
q1_b = q1_a.reshape(2,5)
q1_c=q1_b[1]
q1_d = np.mean(q1_b, axis=0)
print(q1_a)
print(q1_b)
print(q1_c)
print(q1_d)

[ 1  2  3  4  5  6  7  8  9 10]
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]
[ 6  7  8  9 10]
[3.5 4.5 5.5 6.5 7.5]

In [11]:
q2_a=np.arange(0,21,2)
print(q2_a)

[ 0  2  4  6  8 10 12 14 16 18 20]

In [15]:
arr = np.array([10, 20, 30, 40, 50, 60])
q3_a=arr[2:4]
q3_b=arr[::-1]
print(q3_a)
print(q3_b)
arr[-1]=100
print(arr)

[30 40]
[60 50 40 30 20 10]
[ 10  20  30  40  50 100]

In [22]:
pi=np.pi
x=np.linspace(0,pi,100)
sin_x=np.sin(x)
cos_x=np.cos(x)
q4_c=np.multiply(sin_x,cos_x)
print(x)
print(sin_x)
print(cos_x)
print(q4_c)

[0.         0.03173326 0.06346652 0.09519978 0.12693304 0.1586663
 0.19039955 0.22213281 0.25386607 0.28559933 0.31733259 0.34906585
 0.38079911 0.41253237 0.44426563 0.47599889 0.50773215 0.53946541
 0.57119866 0.60293192 0.63466518 0.66639844 0.6981317  0.72986496
 0.76159822 0.79333148 0.82506474 0.856798   0.88853126 0.92026451
 0.95199777 0.98373103 1.01546429 1.04719755 1.07893081 1.11066407
 1.14239733 1.17413059 1.20586385 1.23759711 1.26933037 1.30106362
 1.33279688 1.36453014 1.3962634  1.42799666 1.45972992 1.49146318
 1.52319644 1.5549297  1.58666296 1.61839622 1.65012947 1.68186273
 1.71359599 1.74532925 1.77706251 1.80879577 1.84052903 1.87226229
 1.90399555 1.93572881 1.96746207 1.99919533 2.03092858 2.06266184
 2.0943951  2.12612836 2.15786162 2.18959488 2.22132814 2.2530614
 2.28479466 2.31652792 2.34826118 2.37999443 2.41172769 2.44346095
 2.47519421 2.50692747 2.53866073 2.57039399 2.60212725 2.63386051
 2.66559377 2.69732703 2.72906028 2.76079354 2.7925268  2.82426006
 2.85599332 2.88772658 2.91945984 2.9511931  2.98292636 3.01465962
 3.04639288 3.07812614 3.10985939 3.14159265]
[0.00000000e+00 3.17279335e-02 6.34239197e-02 9.50560433e-02
 1.26592454e-01 1.58001396e-01 1.89251244e-01 2.20310533e-01
 2.51147987e-01 2.81732557e-01 3.12033446e-01 3.42020143e-01
 3.71662456e-01 4.00930535e-01 4.29794912e-01 4.58226522e-01
 4.86196736e-01 5.13677392e-01 5.40640817e-01 5.67059864e-01
 5.92907929e-01 6.18158986e-01 6.42787610e-01 6.66769001e-01
 6.90079011e-01 7.12694171e-01 7.34591709e-01 7.55749574e-01
 7.76146464e-01 7.95761841e-01 8.14575952e-01 8.32569855e-01
 8.49725430e-01 8.66025404e-01 8.81453363e-01 8.95993774e-01
 9.09631995e-01 9.22354294e-01 9.34147860e-01 9.45000819e-01
 9.54902241e-01 9.63842159e-01 9.71811568e-01 9.78802446e-01
 9.84807753e-01 9.89821442e-01 9.93838464e-01 9.96854776e-01
 9.98867339e-01 9.99874128e-01 9.99874128e-01 9.98867339e-01
 9.96854776e-01 9.93838464e-01 9.89821442e-01 9.84807753e-01
 9.78802446e-01 9.71811568e-01 9.63842159e-01 9.54902241e-01
 9.45000819e-01 9.34147860e-01 9.22354294e-01 9.09631995e-01
 8.95993774e-01 8.81453363e-01 8.66025404e-01 8.49725430e-01
 8.32569855e-01 8.14575952e-01 7.95761841e-01 7.76146464e-01
 7.55749574e-01 7.34591709e-01 7.12694171e-01 6.90079011e-01
 6.66769001e-01 6.42787610e-01 6.18158986e-01 5.92907929e-01
 5.67059864e-01 5.40640817e-01 5.13677392e-01 4.86196736e-01
 4.58226522e-01 4.29794912e-01 4.00930535e-01 3.71662456e-01
 3.42020143e-01 3.12033446e-01 2.81732557e-01 2.51147987e-01
 2.20310533e-01 1.89251244e-01 1.58001396e-01 1.26592454e-01
 9.50560433e-02 6.34239197e-02 3.17279335e-02 1.22464680e-16]
[ 1.          0.99949654  0.99798668  0.99547192  0.99195481  0.98743889
  0.9819287   0.97542979  0.9679487   0.95949297  0.95007112  0.93969262
  0.92836793  0.91610846  0.90292654  0.88883545  0.87384938  0.85798341
  0.84125353  0.82367658  0.80527026  0.78605309  0.76604444  0.74526445
  0.72373404  0.70147489  0.67850941  0.65486073  0.63055267  0.60560969
  0.58005691  0.55392006  0.52722547  0.5         0.47227107  0.44406661
  0.41541501  0.38634513  0.35688622  0.32706796  0.29692038  0.26647381
  0.23575894  0.20480667  0.17364818  0.14231484  0.1108382   0.07924996
  0.04758192  0.01586596 -0.01586596 -0.04758192 -0.07924996 -0.1108382
 -0.14231484 -0.17364818 -0.20480667 -0.23575894 -0.26647381 -0.29692038
 -0.32706796 -0.35688622 -0.38634513 -0.41541501 -0.44406661 -0.47227107
 -0.5        -0.52722547 -0.55392006 -0.58005691 -0.60560969 -0.63055267
 -0.65486073 -0.67850941 -0.70147489 -0.72373404 -0.74526445 -0.76604444
 -0.78605309 -0.80527026 -0.82367658 -0.84125353 -0.85798341 -0.87384938
 -0.88883545 -0.90292654 -0.91610846 -0.92836793 -0.93969262 -0.95007112
 -0.95949297 -0.9679487  -0.97542979 -0.9819287  -0.98743889 -0.99195481
 -0.99547192 -0.99798668 -0.99949654 -1.        ]
[ 0.00000000e+00  3.17119598e-02  6.32962268e-02  9.46256222e-02
  1.25573994e-01  1.56016723e-01  1.85831228e-01  2.14897456e-01
  2.43098368e-01  2.70320409e-01  2.96453965e-01  3.21393805e-01
  3.45039506e-01  3.67295854e-01  3.88073232e-01  4.07287976e-01
  4.24862715e-01  4.40726682e-01  4.54815998e-01  4.67073930e-01
  4.77451121e-01  4.85905784e-01  4.92403877e-01  4.96919232e-01
  4.99433670e-01  4.99937064e-01  4.98427388e-01  4.94910721e-01
  4.89401223e-01  4.81921079e-01  4.72500409e-01  4.61177147e-01
  4.47996887e-01  4.33012702e-01  4.16284927e-01  3.97880920e-01
  3.77874787e-01  3.56347086e-01  3.33384500e-01  3.09079493e-01
  2.83529932e-01  2.56838696e-01  2.29113261e-01  2.00465268e-01
  1.71010072e-01  1.40866278e-01  1.10155266e-01  7.90006980e-02
  4.75280217e-02  1.58639667e-02 -1.58639667e-02 -4.75280217e-02
 -7.90006980e-02 -1.10155266e-01 -1.40866278e-01 -1.71010072e-01
 -2.00465268e-01 -2.29113261e-01 -2.56838696e-01 -2.83529932e-01
 -3.09079493e-01 -3.33384500e-01 -3.56347086e-01 -3.77874787e-01
 -3.97880920e-01 -4.16284927e-01 -4.33012702e-01 -4.47996887e-01
 -4.61177147e-01 -4.72500409e-01 -4.81921079e-01 -4.89401223e-01
 -4.94910721e-01 -4.98427388e-01 -4.99937064e-01 -4.99433670e-01
 -4.96919232e-01 -4.92403877e-01 -4.85905784e-01 -4.77451121e-01
 -4.67073930e-01 -4.54815998e-01 -4.40726682e-01 -4.24862715e-01
 -4.07287976e-01 -3.88073232e-01 -3.67295854e-01 -3.45039506e-01
 -3.21393805e-01 -2.96453965e-01 -2.70320409e-01 -2.43098368e-01
 -2.14897456e-01 -1.85831228e-01 -1.56016723e-01 -1.25573994e-01
 -9.46256222e-02 -6.32962268e-02 -3.17119598e-02 -1.22464680e-16]

In [25]:
s = pd.Series([1,3,5,7,9], index=['a','b','c','d','e'])
elem_c=s['c']
print(s)
s['d']=10
s['f']=12
print(elem_c)
print(s)

a    1
b    3
c    5
d    7
e    9
dtype: int64
5
a     1
b     3
c     5
d    10
e     9
f    12
dtype: int64

In [32]:
data_q6 = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [24, 27, 22, 32, 29],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
    'Score': [85.5, 90.0, 78.0, 88.5, 95.0]
}
df_q6 = pd.DataFrame(data_q6)
q6_c = df_q6.describe()
print(df_q6)
print(df_q6[:2])
print(q6_c)
df_q6['Passed'] = df_q6['Score'] >= 80
print(df)

      Name  Age         City  Score
0    Alice   24     New York   85.5
1      Bob   27  Los Angeles   90.0
2  Charlie   22      Chicago   78.0
3    David   32      Houston   88.5
4      Eva   29      Phoenix   95.0
    Name  Age         City  Score
0  Alice   24     New York   85.5
1    Bob   27  Los Angeles   90.0
             Age      Score
count   5.000000   5.000000
mean   26.800000  87.400000
std     3.962323   6.278933
min    22.000000  78.000000
25%    24.000000  85.500000
50%    27.000000  88.500000
75%    29.000000  90.000000
max    32.000000  95.000000
      Name  Age         City  Score  Passed
0    Alice   24     New York   85.5    True
1      Bob   27  Los Angeles   90.0    True
2  Charlie   22      Chicago   78.0   False
3    David   32      Houston   88.5    True
4      Eva   29      Phoenix   95.0    True

In [40]:
data_q7 = {
    'Name': ['Tom', 'Joseph', 'Krish', 'John', 'Mike'],
    'Age': [20, np.nan, 22, np.nan, 25],
    'Qualification': ['Bachelor', 'Master', np.nan, 'PhD', 'Bachelor']
}
df_q7=pd.DataFrame(data_q7)
q7_a=df_q7[df_q7.isnull().any(axis=1)]
print(q7_a)
q7_b= df_q7.dropna()
print(q7_b)
mean_age= df_q7['Age'].mean()  
df_q7['Age'] = df['Age'].fillna(mean_age)  
df_q7['Qualification'] = df_q7['Qualification'].fillna('Bachelor') 
print(df_q7)

     Name   Age Qualification
1  Joseph   NaN        Master
2   Krish  22.0           NaN
3    John   NaN           PhD
   Name   Age Qualification
0   Tom  20.0      Bachelor
4  Mike  25.0      Bachelor
     Name  Age Qualification
0     Tom   24      Bachelor
1  Joseph   27        Master
2   Krish   22      Bachelor
3    John   32           PhD
4    Mike   29      Bachelor

In [42]:
q8_a = df_q6.groupby('City')['Age'].mean()
q8_b= df['Passed'].value_counts()
q8_c = df.groupby('Passed')['Score'].mean()
print(q8_a)
print(q8_b)
print(q8_c)

City
Chicago        22.0
Houston        32.0
Los Angeles    27.0
New York       24.0
Phoenix        29.0
Name: Age, dtype: float64
Passed
True     4
False    1
Name: count, dtype: int64
Passed
False    78.00
True     89.75
Name: Score, dtype: float64